IDI_ICON1               ICON    DISCARDABLE     "res/project13.ico"
IDI_ICON2               ICON    DISCARDABLE     "res/project8.ico"
IDI_ICON3               ICON    DISCARDABLE     "res/project9.ico"
IDI_ICON4               ICON    DISCARDABLE     "res/project10.ico"
IDI_ICON5               ICON    DISCARDABLE     "res/projectG.ico"
IDI_ICON6               ICON    DISCARDABLE     "res/project6.ico"
IDI_ICON7               ICON    DISCARDABLE     "res/project7.ico"
